body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  min-height: 100vh;
}

.severity {
  text-transform: capitalize;
}
.severity.CRITICAL {
  color: red;
}

.severity.HIGH {
  color: orange;
}

.severity.MEDIUN {
  color: yellow;
}

.severity.LOW,
.severity.NEGLECTABLE {
  color: grey;
}
